* {
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
    color: black;
    
}
header p{
    color: gray;
    display: inline-block;
}
div span{
    color: green;
}
div ul li {
display: inline-block;

}
h1 p {
    display: inline-block;
}
nav ul {
    background-color: black;
    padding: 10px;
}
nav ul li {
    color: white;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
 header div ul li p {
    padding: 5px;
    cursor: pointer;

}
main{
    background-image: none;
    
}
main img{
    width: 37cm;
    height: 20cm;
}

nav form{
    display: inline-block;
}
footer div img {
float: left;
}
footer div {
    margin-right: 10cm;
}
footer div h2 p {
    display: inline-block;
}
main div  {
    background-color: gray;
    color: white;
    display: inline-block;
    margin-right: 23cm;
    margin-left: 3cm;
}
footer{
    display: inline-block;

}